<div class="mx-auto w-25">
  <h1 class="mt-2">Signup!</h1>
  <%= form_for :user, url: '/users' do |f| %>
    <div class="mb-3">
      <%= f.label :name,class:"form-label required" %>
      <%= f.text_field :name,class:"form-control",placeholder:"Enter Your name" %>
      <p class='error'><%= show_errors(@user, :name) %></p>
    </div>
    <div class="mb-3">
      <%= f.label :email,class:"form-label required" %>
      <%= f.text_field :email,class:"form-control",placeholder:"Enter Your email" %>
      <p class='error'><%= show_errors(@user, :email) %></p>
    </div>
    <div class="mb-3">
      <%= f.label :Password,class:"form-label required" %>
      <%= f.password_field :password,class:"form-control",placeholder:"Enter Your password" %>
      <p class='error'><%= show_errors(@user, :password) %></p>
    </div>
    <div class="mb-3">
      <%= f.label :password_confirmation,class:"form-label required" %>
      <%= f.password_field :password_confirmation,class:"form-control",placeholder:"Enter same password as above" %>
      <p class='error'><%= show_errors(@user, :password_confirmation) %></p>
    </div>
    <%= f.submit "Submit" ,class:"btn btn-success w-100 d-block text-center mb-2"%>
  <% end %>
  <%= link_to 'Existing User! Login','/login',class:"d-block btn btn-primary mb-2 w-100 text-center" %>
  <%= link_to 'Home Page','/',class:"d-block btn btn-primary w-100 text-center" %>
</div>